.card-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    caret-color: white;
    font-size: 20px;
    box-sizing: border-box;
}

.card-iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
}

.anchor {
    position: absolute;
    width: 7px;
    height: 7px;
    background: white;
    border: 1px solid blue;
    border-radius: 50%;
    cursor: pointer
}

.anchor-top { top: -18px; left: 50%; transform: translateX(-50%);}
.anchor-bottom { bottom: -15px; left: 50%; transform: translateX(-50%);}
.anchor-left { top: 50%; left: -15px; transform: translateY(-50%);}
.anchor-right { top: 50%; right: -15px; transform: translateY(-50%);}

.card-div {
  position: absolute;
  box-sizing: border-box;
  cursor: all-scroll;
  transform: translate(0px, 0px);
  pointer-events: auto;
}

.card-div-iframe {
  border: 5px solid gray;
  background: #fff;
}

.card-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 14px;
    background: gray;
    cursor: all-scroll;
    z-index: 2;

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.card-close-btn {
    background: transparent;
    color: red;
    border: 0;
    padding: 0;
    padding-bottom: 7px;
    cursor: pointer;
}

.card-resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    background: #666;
    cursor: nwse-resize;
}