.card-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background: transparent;
    caret-color: white;
    font-size: 20px;
    box-sizing: border-box;
}

.card-iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
}

.anchor {
    z-index: 100;
    
}

.anchor-top { top: -30px; left: 50%; transform: translateX(-50%);}
.anchor-bottom { bottom: -30px; left: 50%; transform: translateX(-50%);}
.anchor-left { top: 50%; left: -30px; transform: translateY(-50%);}
.anchor-right { top: 50%; right: -30px; transform: translateY(-50%);}

.card-div {
  position: absolute;
  box-sizing: border-box;
  cursor: all-scroll;
  transform: translate(0px, 0px);
  pointer-events: auto;
}

.card-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    cursor: all-scroll;
    z-index: 2;
}

.card-close-btn {
    background: transparent;
    color: red;
    border: 0;
    padding: 0;
    padding-bottom: 7px;
    cursor: pointer;
}

.card-resize-handle {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 6px;
    height: 6px;
    background: #666;
    cursor: nwse-resize;
}