.canvas-container {
    width: 100%;
    height: 100vh;
    display: block;
    overflow: hidden;
    position: relative;
}

.arrows-layer {
    position: absolute;
    transform-origin: top left;
    z-index: 3;
    pointer-events: none;
    overflow: visible;
}

.items-layer {
    position: absolute;
    transform-origin: top left;
    z-index: 1;
    pointer-events: none;
}