:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.grid-layer,
.items-layer {
  position: absolute;
  inset: 0;
}